compiler/generated/
compiler/build/

compiler/config.mk
compiler/ubuntu.mk
compiler/ifcc
compiler/DI.mk
compiler/fedora.mk
compiler/a.out
compiler/*.o
compiler/*.c
compiler/*.s

tests/ifcc-test-output/*

.vscode/
tests/ifcc-wrapper.sh
